<section class="bar background-white no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12" infinite-scroll='loadMore()'>

                <div ng-repeat="(key, videos) in tv">
                    <div class="row">
                        <div class="heading text-center">
                            <h2 ng-cloak>{{key}}</h2>
                        </div>
                    </div>
                    <div>
                        <data-owl-carousel class="owl-carousel"
                            data-options="{items:6, autoWidth:true, margin:20, stagePadding:50, slideBy:5,navRewind:false, nav:true, navText: [&#x27;<&#x27;,&#x27;>&#x27;], startPosition: 0}">
                            <div style="overflow:hidden;width: 245px;" owl-carousel-item=""  ng-repeat="poi in videos"
                                 class="item">
                                <div class="media">
                                    <a ng-href="{{ poi.url }}" class="thumbnail video-list-thumbs">
                                        <img style="height: 181px;" ng-src="{{ poi.thumbnail}}" class="img-responsive"/>
                                    </a>
                                    <div class="caption" style="margin-left:30px; margin-top:-15px">
                                        <div class="row">
                                            <div>
                                            	<strong><a ng-href="{{ poi.url }}">{{ poi.title
                                                }}</a>
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </data-owl-carousel>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>