<!DOCTYPE html>
<html lang="en" ng-app="newdancetv">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Welcome to New Dance TV website">
    <meta name="author" content="bboyrankingz">
    <meta property="og:image" content="">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@bboyrankingz" />
    <meta name="twitter:creator" content="@bboyrankingz" />
    <meta name="twitter:title" content="New Dance TV" />
    <meta name="twitter:description" content="Welcome to New Dance TV website" />
    <meta name="twitter:image:src" content="">

    <title>New Dance TV</title>

    <!-- Bootstrap Core CSS -->
    <link href="site_media/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="site_media/static/bower_components/font-awesome/css/font-awesome.min.css">

    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
 	<!-- Owl Carousel -->
    <link rel="stylesheet" href="/site_media/static/bower_components/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/site_media/static/bower_components/owl.carousel/dist/assets/owl.carousel.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
   
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    New Dance TV
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="#about">About us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>New Dance TV</h1>
                    <p>Welcome to New Dance TV website</p>
                    <a href="#about" class="btn btn-circle"></a>
                </div>
            </div>
        </div>
    </header>

     <section id="about" class="container content-section text-center" ng-controller="Videos">
        <div class="row">
        	<div infinite-scroll='loadMore()'>
            <div ng-repeat="(key, videos) in tv">
                <div class="row">
                    <div class="col-md-12">
                        <h2 ng-cloak>{{key}}</h2>
                    </div>
                </div>
                <div>
                    <data-owl-carousel class="owl-carousel"
                        data-options="{items:6, autoWidth:true, margin:20, stagePadding:50, slideBy:5,navRewind:false, nav:true, navText: [&#x27;<&#x27;,&#x27;>&#x27;], startPosition: 0}">
                        <div style="overflow:hidden;width: 245px;" owl-carousel-item="" ng-repeat="poi in videos"
                             class="item">
                            <div class="media">
                                <a ng-href="{{ poi.url }}" class="thumbnail video-list-thumbs">
                                    <img style="height: 181px;" ng-src="{{ poi.thumbnail_url}}" class="img-responsive"/>
                                </a>
                                <div class="caption" style="margin-top:-15px">
                                    <div class="row">
                                        <div>
                                        	<strong><a ng-href="{{ poi.url }}">{{ poi.title
                                            }}</a>
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </data-owl-carousel>
                </div>
            </div>
        </div>

        </div>
    </section>

	<footer>
		<div class="container text-center">
            <p>Copyright &copy; NewDancTV by <a href="http://bboyrankingz.com">Bboyrankingz</a> 2016</p>
        </div>
	</footer>
	<!-- jQuery -->
    <script src="site_media/static/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="site_media/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Angular 1.4.9 -->
    <script src="site_media/static/bower_components/angular/angular.min.js"></script>
    <!-- Owl Carousel  2.0.0 -->
    <script src="/site_media/static/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
    <!-- Infinite Scroll -->
    <script src="/site_media/static/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
    <script src="site_media/static/js/videos.js"></script>
    <script src="/site_media/static/js/owl_carousel.js"></script>
</body>

</html>
