    <div id="revslider-container">
        <div id="revslider" rev-slider>
            <ul>
                <li data-transition="fade" data-slotamount="8" data-masterspeed="800" ng-repeat="poi in streaming.results" rev-slider-item>

                  <img ng-src="{{ poi.thumbnail }}"  alt="{{ poi.title}}" data-lazyload="{{ poi.thumbnail}}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">


                  <div class="tp-caption rev-subtitle lfb ltt"
                      data-x="center"
                      data-y="155"
                      data-speed="1000"
                      data-start="900"
                      data-easing="Power3.easeInOut"
                      data-endspeed="400"
                      style="z-index: 10">Welcome to newdancetv
                  </div>

                  <div class="tp-caption rev-title lfb ltt"
                        data-x="center"
                        data-y="210"
                        data-speed="1000"
                        data-start="1000"
                        data-easing="Power3.easeInOut"
                        data-endspeed="600"
                        style="z-index: 6">{{ poi.title}}
                  </div>

                  <div class="tp-caption rev-text lfb ltt"
                      data-x="center"
                      data-y="290"
                      data-speed ="1000"
                      data-start="1200"
                      data-easing="Power3.easeInOut"
                      data-endspeed="700"
                      style="z-index: 12">Beta.
                  </div>

                   <div class="tp-caption rev-btn lfb ltt"
                        data-x="center"
                        data-y="360"
                        data-speed="1000"
                        data-start="1400"
                        data-easing="Power3.easeInOut"
                        data-endspeed="800"
                        style="z-index: 14">
                            <a href="{{ poi.url }}" class="btn btn-white btn-border radius-lger min-width"><strong>Play now!</strong></a>
                    </div>

                  </li>
              </ul>
          </div>

          <a href="#id-to-scroll" class="scroll-btn light" data-offset="-55" data-0="opacity:1" data-top-bottom="opacity:0;" title="Go Down"><span></span></a>


    </div><!--/#main-slider-->

<section class="bar background-white no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12" infinite-scroll='loadMore()'>

                <div ng-repeat="(key, videos) in tv">
                    <div class="row">
                        <div class="heading text-center">
                            <h2 ng-cloak>{{key}}</h2>
                        </div>
                    </div>
                    <div>
                        <data-owl-carousel class="owl-carousel"
                            data-options="{items:6, autoWidth:true, margin:20, stagePadding:50, slideBy:5,navRewind:false, nav:true, navText: [&#x27;<&#x27;,&#x27;>&#x27;], startPosition: 0}">
                            <div style="overflow:hidden;width: 245px;" owl-carousel-item=""  ng-repeat="poi in videos"
                                 class="item">
                                <div class="media">
                                    <a ng-href="{{ poi.url }}" class="thumbnail video-list-thumbs">
                                        <img style="height: 181px;" ng-src="{{ poi.thumbnail}}" class="img-responsive"/>
                                    </a>
                                    <div class="caption" style="margin-left:30px; margin-top:-15px">
                                        <div class="row">
                                            <div>
                                            	<strong><a ng-href="{{ poi.url }}">{{ poi.title
                                                }}</a>
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </data-owl-carousel>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>