<section class="bar background-white no-mb">
    <div class="container">
        <div class="row">
            <div class="col-xs-10">
                <input class="form-control" id="url" maxlength="512" ng-model="form_url" name="url" type="text" placeholder="share youtube link">
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-template-main" ng-click="push()">Post video</button>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1' ng-cloak>
                    <div ng-repeat="video in reddit.items">
                        <div class="row">
                            <div class="col-xs-4">
                                <img style="height: 181px;" ng-src="{{ video.thumbnail_url}}" class="img-responsive"/>
                            </div>
                            <div class="col-xs-8">
                                <h4 class="media-heading">{{video.title}}</h4>
                                <ul>
                                    <li>channel: {{video.channel_title}}</li>
                                    <li>post date: {{video.created | date:'MMMM d, yyyy'}}</li>
                                </ul>
                                <button type="button" class="btn btn-danger" ng-click="remove(video.id)">Remove video</button>
                            </div>
                        </div>
                        <hr/>
                        <div style='clear: both;'></div>
                    </div>
                    <div ng-show='reddit.busy'>Loading data...</div>
                </div>
            </div>
        </div>
    </div>
</section>